.cards {
  flex: 1;
  /* min-height: 10rem; */
  /* justify-self: flex-start; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards__card {
  position: absolute;
  /* left: 25%; */
  width: 40vw;
  border-radius: 2rem;

  /* flex: 1; */
}

.cards_cardImage {
  position: relative;
  /* width: 100%; */
  /* margin-left: 30%; */
  height: 50vh;
  border-radius: 2rem;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.cards_cardImage > h1 {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: rgba(255, 255, 255, 0.85);
  font-size: 3rem;
}

@media (max-width: 950px) {
  .cards__card {
    width: 80vw;
  }
}
