.header {
  display: flex;
  justify-content: space-between;
  /* max-height: 15vh; */
  align-items: stretch;
  margin-top: 1rem;
  /* width: 100vw; */
}

.header__profileIcon {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
}

.header__profileIcon > h3 {
  color: gray;
}

.header__tinderLogo {
  /* margin: 1rem; */
}

.header__username {
  display: flex;
}

.header__tinderLogoImage {
  width: 100%;
  height: 4.33rem;
  object-fit: contain;
}

.header__chatsIcon {
  margin-right: 3rem;
}

@media (max-width: 650px) {
  .header__profileIcon {
    margin-left: 0;
  }

  .header__chatsIcon {
    margin-right: 0;
  }

  .header__profileIcon {
    flex-direction: column;
  }
}
